.banner {
  background: grey;
  width: 100%;
  margin-top: 2px;
  text-align: center;
  font: size 500px;
}

.bold {
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100px;
}
.column {
  padding: 20px 0;
}

.link {
  padding-bottom: 1000%;
}
